.application {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

  &__header {
    width: fit-content;
    color: beige;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
  }
}