@import "@design-system";

.header {
  --top: 0;

  @include transition((top, "fast"));
  @include layer("overlay");
  position: sticky;
  top: var(--top);
  box-shadow: var(--spa-menu-shadow, $shadow-black);
}
