.idea
.vscode
# Build
code/dist

node_modules

# Tests
code/coverage
code/test-report.json
# stryker temp files
code/.stryker-tmp
code/stryker-tmp

# stryker reports
code/stryker-config/*
code/reports/*
code/stryker.log

# e2e
e2e/cypress/test_module/.nyc_output
e2e/cypress/test_module/coverage
e2e/cypress/test_module/results

# Mock backend
mock-backend/node_modules

# Environment variables
.env*