@import "@design-system";

.spa-order-item {
  &__title {
    .MuiAccordionSummary-content {
      padding-inline: spacing(5);
      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    @include box(50px);
  }

  &__status {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
  }

  &__payment-status {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: spacing(1);
  }
}
