@import "@design-system";

.wrapper {
  padding: spacing(2) spacing(5);
  background-color: var(--spa-wrapper-background-color, $light-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;

    &-image {
      height: 70px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    > * {
      margin-left: spacing(10);
    }
  }
}
