@import "@design-system";

.spa-order-table__body {
  @include transition((background-color));

  background-color: var(--spa-order-table-body-bg-color, $white);

  &:hover {
    background-color: var(--spa-order-table-body-hover-bg-color, $light);
  }

  &-status-select {
    .MuiOutlinedInput-notchedOutline {
      border: none !important; // To overwrite mui styles
    }

    & > div {
      padding: 0;
    }
  }

  &-status-text {
    width: 90px;
    text-align: center;
    padding: 0;
  }

  &-status-select-input {
    padding-right: 0 !important; // To overwrite mui styles
  }
}
