@import "@design-system";

.spa-order-table__body {
  @include transition((background-color));

  background-color: var(--spa-order-table-body-bg-color, $white);

  &:hover {
    background-color: var(--spa-order-table-body-hover-bg-color, $light);
  }

  &-status {
    width: 75px;
  }

  &-status-select-input {
    padding-right: 14px !important;
  }

  &-status-select {
    width: fit-content !important;
    min-width: auto !important;
  }
}

.status-select {
  padding: 0 !important;

  * {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
