@import "@design-system";

.spa-order-product {
  flex: 1;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: spacing(2);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: spacing(3);
  }

  &__image {
    @include box(86px);
  }

  &__description {
    max-width: 350px;

    &--title {
      @include line-clamp(1);
    }
    &--caption {
      @include line-clamp(3);
    }
  }

  &__price {
    margin-left: spacing(12);
  }
}
