@import "@design-system";

.products-container {
  display: grid;
  justify-content: space-between;
  gap: spacing(6);

  @include breakpoint("xs") {
    grid-template-columns: repeat(1, 1fr);
  }

  @include breakpoint("sm") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint("md") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint("lg") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint("xl") {
    grid-template-columns: repeat(5, 1fr);
  }

  &_error {
    padding: spacing(40) 0;
    display: block;
  }

  &__error-label {
    font-size: var(--spa-h5-font-size, $fs-base);
    text-align: center;
  }
}
