@import "@design-system";

$spa-input-colors: (
  "contained": var(--spa-input-contained-color, $purple),
  "success": var(--spa-input-success-color, $green),
  "danger": var(--spa-input-danger-color, $red),
  "light": var(--spa-input-light-color, $white),
  "dark": var(--spa-input-dark-color, $black)
);

.spa-input {
  .MuiInputBase-input {
    padding: spacing(3) spacing(4);
  }

  .MuiFormLabel-root {
    padding-top: spacing(1);
  }

  @each $variant, $color in $spa-input-colors {
    &--#{$variant} {
      .MuiOutlinedInput-root {
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: $color !important; //To override the MUI styles
        }
      }

      .MuiInputLabel-root.Mui-focused {
        color: $color !important; //To override the MUI styles
      }
    }
  }
}
