@import "@design-system";

.spa-order-table__head {
  background-color: var(--spa-order-table-head-bg-color, $light-alpha);
  color: var(--spa-order-table-head-color, $white);

  .MuiTableSortLabel-root:hover {
    color: var(--spa-order-table-head-bg-hover-color, $light-green);
  }

  .Mui-active {
    color: var(--spa-order-table-head-bg-active-color, $light-green);

    .MuiTableSortLabel-icon {
      color: var(--spa-order-table-head-bg-icon-active-color, $light-green);
    }
  }
  &-label {
    .MuiTableSortLabel-icon {
      opacity: 1;
    }
  }
}
