@import "@design-system";

.spa-category-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-block: spacing(15);
  row-gap: spacing(10);

  background-color: var(--spa-wrapper-background-color, $white);

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: spacing(3);
  }
  &__image {
    max-width: 70%;
  }
  &__container {
    display: flex;
    margin-top: spacing(5);
  }
}
