@import "@design-system";

.footer-banner {
  color: var(--spa-footer-banner-text-color, $white);
  background-image: url("@/assets/images/footer/footer-banner-bg.webp");
  background-size: 65%;
  background-position: right;
  background-repeat: no-repeat;

  &__container {
    background-color: var(--spa-footer-banner-bg-color, $gray);
    padding-block: spacing(20);
    clip-path: polygon(0% 0%, 75% 0%, 86% 45%, 100% 100%, 0% 100%);
    width: 55%;
  }

  &__content {
    width: 375px;
    display: flex;
    flex-direction: column;
    gap: spacing(7);
  }

  &__heading {
    width: 300px;
  }

  &__button {
    width: 200px;
    padding-block: spacing(3);
  }
}
