@import "@design-system";

.spa-link {
  text-decoration: none;
  color: var(--spa-link-primary-color, $black);
  transition: color .3s;

  &__colored {
    &:hover {
      color: var(--spa-link-primary-hover-color, $purple);
    }
  }

  &__underlined {
    &:hover {
      text-decoration: underline;
    }
  }
}
