@import "@design-system";

.language-select {
  display: flex;
  gap: spacing(2);
  padding-block: spacing(2);
  padding-inline: spacing(2) spacing(8) !important; //to override MUI styles
  align-items: center;

  &__item {
    display: flex;
    gap: spacing(2);

    &-icon {
      @include box(25px);
      border-radius: 50%;
    }
  }

  &__container {
    border-radius: spacing(10);
  }
}