@import "@design-system";

$divider-color: var(--spa-order-divider-color, $ghost-alpha);

.spa-order-product {
  flex-grow: 1;

  &__items {
    display: flex;
    flex-direction: column;
    gap: spacing(3);
    padding-bottom: spacing(3);
    border-bottom: 1px solid $divider-color;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: spacing(3);
  }

  &__image {
    @include box(86px);
  }

  &__description {
    width: 350px;

    &-title {
      @include line-clamp(1);
    }

    &-caption {
      line-height: 1.3;
      @include line-clamp(2);
    }
  }

  &__price {
    margin-left: spacing(12);
  }
}
