@import "@design-system";

.filter-record-accordion {
  border: 0;
  border-radius: 0 !important; // to override mui styles
  border-bottom: 1px solid
    var(--filter-record-accordion-border-color, $ghost-alpha);

  &.Mui-expanded .filter-record-accordion__details {
    border-top: 1px solid
      var(--filter-record-accordion-border-color, $ghost-alpha);
  }

  &::before {
    content: none;
  }

  &__summary {
    padding: 0 spacing(5);

    & > .MuiAccordionSummary-content {
      display: inline-flex;
      align-items: center;
      gap: spacing(2);
    }
  }

  &__summary.Mui-expanded {
    min-height: 0;

    & .MuiAccordionSummary-content.Mui-expanded {
      margin: spacing(3) 0;
    }
  }

  &__details {
    padding: spacing(4) spacing(5);
    box-sizing: border-box;
  }

  &--filter-active-icon {
    width: 12px;
    height: 12px;
    fill: var(
      --filter-record-accordion-filter-active-icon-fill-color,
      $purple-light
    );
  }
}
