@import "@design-system";

.spa-snackbar {
  & > * {
    display: flex;
    align-items: center;
  }

  &__alert {
    border-radius: spacing(2);
  }

  &__alert.MuiAlert-colorSuccess {
    background-color: var(--spa-snackbar-success-bg-color, $green);
  }

  &__alert.MuiAlert-colorError {
    background-color: var(--spa-snackbar-error-bg-color, $red);
  }

  & .MuiAlert-action,
  & .MuiAlert-icon {
    padding-block: 0;
  }
}
