@import "@design-system";

.menu {
  display: flex;
  padding: spacing(2) 0;
  background-color: var(--spa-menu-background-color, $darken-light);

  &__item {
    cursor: pointer;
    padding: spacing(2) spacing(5);

    &:hover {
      color: var(--spa-menu-hover-color, $purple);
    }
  }
}
