@import "@design-system";

.spa-banner {
  @include transition((background-image "slow" ease-in-out));

  background-size: cover;
  background-position: bottom;

  &__wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: spacing(5);
    padding-block: spacing(30);
  }
  &__heading {
    line-height: 1.2;
  }

  &__button {
    align-self: flex-start;
  }
}

.best-prices {
  background-color: $red;
  font-size: 20px;
  color: white;
  padding-block: 2px;
  max-width: 120px;
  text-align: center;
}
