@import "@design-system";

.product-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: spacing(8) spacing(15);

  &__image-wrapper {
    flex: 3;
    width: 100%;
    min-width: 300px;
    max-width: 700px;

    img {
      width: 100%;
      object-fit: cover;
      border: 1px solid var(--spa-product-details-delimiter-color, $ghost-alpha);
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: spacing(5);
    flex: 5;
    min-width: min-content;

    @include breakpoint("md") {
      overflow-y: scroll;
      height: 510px;
    }
  }

  &__in-stock {
    color: var(--spa-product-details-in-stock-color, $green);
  }

  &__buy-action {
    display: flex;
    column-gap: spacing(6);
    align-items: center;
  }

  &__delivery-method-container {
    display: flex;
    flex-direction: column;
    row-gap: spacing(4);
  }

  &__delivery-method {
    display: flex;
    column-gap: spacing(2);
    align-items: center;
  }

  &__delivery-method-image {
    width: 22px;
  }

  &__section {
    border-top: 1px solid
      var(--spa-product-details-delimiter-color, $ghost-alpha);
    padding: spacing(4) spacing(2);
    display: flex;
    flex-direction: column;
    gap: spacing(2);
  }

  &__section-caption {
    color: var(--spa-product-details-caption-color, $gray);
  }

  &__description {
    line-height: 1.5;
  }
}
