@import "@design-system";

.spa-accordion-container {
  &--expanded {
    margin: 0 !important; //necessary for overriding MUI styles
  }
  box-shadow: $shadow-none;
  border: 1px solid var(--spa-accordion-container-border-color, $ghost-alpha);
}
