@import "@design-system";

.dashboard-products-tab {
  &__header-container {
    display: flex;
    gap: spacing(6);
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
