@import "@design-system";

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: spacing(10);

  &__title {
    padding-top: spacing(5);
    padding: spacing(5);
    color: var(--spa-empty-cart-color, $gray);
  }

  &__img {
    @include box(100px, 100px);
    padding-top: spacing(10);
    color: var(--spa-empty-cart-img-color, $gray);
    :hover {
      color: var(--spa-empty-cart-img-hover-color, $purple);
    }
  }
}
