@import "@design-system";

.spa-subintro {
  display: flex;
  align-items: center;
  gap: spacing(25);
  background-color: var(--spa-wrapper-background-color, $white);

  &__element {
    display: flex;
    gap: spacing(7);
    padding: spacing(9) 0 spacing(9);
  }

  &__icon {
    height: 50px;
    margin-top: spacing(1);
  }

  &__content {
    white-space: pre-line;
    font-weight: var(--spa-typography-subtitle2-font-weight, $fw-extra-bold);
  }
}
