@import "@design-system";

.spa-subintro {
    display: flex;
    align-items: center;
    gap: spacing(25);

    &_element {
        display: flex;
        gap: spacing(7);
        padding: spacing(10) 0px spacing(10);
    }

    &_icon {
        height: 50px;
        margin-top: spacing(5);
    }

    &_content {
        white-space: pre-line;
        font-family: $body-font-family;
        font-size: var(--spa-typography-concept-font-size,$fs-lg);
        font-weight: var(--spa-typography-concept-font-weight, $fw-extra-bold);
        color: $black;
    }
}