@import "@design-system";

$header-height: 112px;

.page-loading-fallback {
  height: calc($screen-height - $header-height - spacing(10));
  padding: spacing(5);

  &__full-screen {
    height: calc($screen-height - spacing(10));
  }

  &__skeleton {
    height: 100%;
  }
}
