@import "@design-system";

.spa-best-sellers {
  padding: spacing(15) spacing(12);
  background-color: var(--spa-foreground-background-color, $white);
  display: flex;
  flex-direction: column;
  gap: spacing(10);

  &__header {
    align-self: center;
  }

  &__button {
    align-self: center;
  }
}
