@import "@design-system";

.spa-best-sellers {
  margin-top: spacing(5);
  padding: spacing(12) spacing(12);
  background-color: var(--spa-foreground-background-color, $white);
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: spacing(5);
    align-self: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: spacing(6);
  }

  &__product-container {
    padding: spacing(2);
    display: flex;
    flex-direction: column;
    gap: spacing(2);
    border: 2px solid var(--spa-products-container-border-color, $darken-light);
    position: relative;
    overflow: hidden;

    &:hover .spa-best-sellers__description {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      height: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__price {
    color: var(--spa-best-sellers-price-color, $purple);
  }

  &__button {
    margin: spacing(12);
    align-self: center;
  }

  &__description {
    position: absolute;
    inset: 0;
    background: var(--spa-hover-product-background-color, $light-alpha);
    color: var(--spa-hover-product-text-color, $white);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }
}
