@import "@design-system";

.spa-subintro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: spacing(20);
  background-color: var(--spa-wrapper-background-color, $white);

  &__element {
    display: flex;
    justify-content: center;
    gap: spacing(7);
    padding: spacing(9) 0 spacing(9);
  }

  &__icon {
    height: 45px;
    margin-top: spacing(1);
  }

  &__content {
    white-space: pre-line;
    font-size: $fs-lg;
    font-weight: var(--spa-typography-subtitle2-font-weight, $fw-extra-bold);
  }
}
