@import "@design-system";

.not-found-page {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: spacing(8);
  background-color: var(--spa-not-found-bgc, $light);
  margin-bottom: spacing(2);

  &__content {
    max-width: spacing(200);
    padding: spacing(12);
    background-color: var(--spa-not-found-content-bgc, $white);
    border-radius: spacing(3);
    margin-bottom: spacing(2);
  }

  &__title {
    color: var(--spa-not-found-title, $dark-alpha);
    margin-bottom: spacing(3);
  }

  &__subtitle {
    color: var(--spa-not-found-content-bgc, $gray);
    font-size: var(--spa-subtitle-fs, $fs-xl);
    margin-bottom: spacing(5);
  }

  &__description {
    font-size: var(--spa-description-fs, $fs-lg);
    color: var(--spa-not-found-description, $gray);
    margin-bottom: spacing(8);
  }

  &__link-text {
    color: var(--spa-not-link-text, $white);

    &:hover {
      color: var(--spa-not-link, $dark-alpha);
    }
  }
}
