@import "@design-system";

.spa-auth-modal {
  height: 650px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: spacing(2);

  &__title {
    color: var(--spa-auth-modal-title-color, $gray);
    margin-bottom: spacing(5);
  }

  &__toggle {
    display: flex;
    align-items: center;
    margin-bottom: spacing(6);
  }
}

.spa-auth-modal__close-icon {
  align-self: flex-end;
}

.spa-auth-modal__wrapper {
  padding-inline: spacing(25);
}
