@import "@design-system";

.header__wrapper {
  padding: spacing(3) spacing(4);
  background-color: var(--spa-wrapper-background-color, $white);
}

.header__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing(10);

  &-logo {
    display: flex;
    align-items: center;

    &-image {
      height: 35px;
    }
  }

  &-icon {
    color: var(--spa-cart-icon-color, $black);
  }

  &-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-icons {
      display: flex;
      align-items: center;
      gap: spacing(8);
    }
  }
}
