@import "@design-system";

.spa-products-page {
  padding: spacing(10);
  background-color: var(--spa-foreground-background-color, $white);
  display: flex;
  flex-direction: column;
  gap: spacing(5);

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: spacing(5);
    width: 100%;
  }

  &__count,
  &__sort {
    font-size: 1rem;
    color: var(--spa-info-text-color, $gray);
    display: flex;
    gap: spacing(1);
  }

  &__sort {
    cursor: pointer;
  }

  &__grid {
    margin-top: spacing(5);
    width: 100%;
  }

  &__pagination {
    padding-top: spacing(5);
    width: fit-content;
  }
}
