@import "@design-system";

.spa-products-page {
  padding: spacing(10);
  background-color: var(--spa-foreground-background-color, $white);
  display: flex;
  flex-direction: column;
  gap: spacing(5);

  &__header {
    font-weight: var(--spa-header-fw, $fw-semi-bold);
    font-size: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: spacing(5);
    width: 100%;
  }

  &__count,
  &__sort {
    font-size: 1rem;
    color: var(--spa-info-text-color, $gray);
    display: flex;
    gap: spacing(1);
  }

  &__sort {
    cursor: pointer;

    &:after {
      content: "\25BC";
      margin-left: spacing(1);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: spacing(6);
    margin-top: spacing(5);
    width: 100%;
  }
}
