@import "@design-system";

.spa-order-item {
  &__title {
    .MuiAccordionSummary-content {
      padding-inline: spacing(5);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__image {
    @include box(50px);
  }

  &__status {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
  }

  &__badge-status {
    width: 85px;
    text-align: center;
  }
}
