@import "foundation/all";

@import "base/reset";
@import "base/root";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  box-sizing: border-box;
  background-color: $light;
}
