@import "@design-system";

.spa-cart-item {
  display: flex;
  align-items: center;
  padding: spacing(4) 0;
  border-bottom: 1px solid var(--spa-cart-item-border-color, $gray-light);

  &__image {
    width: 100px;
    margin-right: spacing(5);
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    margin-bottom: spacing(3);
    max-width: 350px;
  }

  &__quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid var(--spa-cart-quantity-selector-border-color, $black);
    padding: spacing(1);
    margin-inline: spacing(5) spacing(2);
  }

  &__quantity-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: spacing(8);
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
    }
  }

  &__quantity-input {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: $fs-base;
  }

  &__price {
    text-align: center;
    width: 130px;

    &-value {
      font-weight: var(--spa-cart-price-value-font-weight, $fw-extra-bold);
      font-size: var(--spa-cart-price-value-font-size, $fs-lg);
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__delete-block {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include box(32px);
  }
}
